<h1><%= t(".header") %> <%= @test_passage.test.title %> </h1>

<% if @test_passage.success?  %>
  <p class="test-passed">
    <%= t(".passed") %>
  </p>
<% else %>
  <p class="test-failed">
    <%= t(".failed") %>
  </p>
<% end %>

<p>
  <strong><%= t(".result") %></strong> <%= @test_passage.correct_questions %> из <%= @test_passage.test.questions.count %>.
</p>
<p>
  <strong><%= t(".rate") %></strong> <%= @test_passage.calc_rate %>
</p>

<%= link_to t(".to_tests"), tests_path %>
