<div class="row justify-content-center mt-8">
  <div class="col col-md-8">
    <h1><%= t(".header") %> <%= @test_passage.test.title %></h1>

    <p>
      <small>
        <%= t(".question") %> <%= @test_passage.question_number %>
        <%= t(".out_of") %>
        <%= @test_passage.questions_count %>
      </small>

      <%= content_tag :small, "",
                      id:     "timer",
                      class:  "hide",
                      data:   { time_left:  @test_passage.time_left } %>
    </p>

    <div>
      <%= tag.progress id: "test-progress",
                       data: { current_val: @test_passage.question_number,
                               total: @test_passage.questions_count } %>
    </div>

    <strong>
      <%= @test_passage.current_question.text %>
    </strong>

    <%= form_with url: test_passage_path(@test_passage),
                       id: "passage-form",
                       method: :put,
                       local: true  do |form| %>

      <%= form.collection_check_boxes :answer_ids,
                                      @test_passage.current_question.answers,
                                      :id, :text, include_hidden: false do |b| %>
        <p>
          <%= b.check_box id: "answer_ids_#{b.object.id}" %>
          <%= b.label %>
        </p>
      <% end %>

      <p>
        <%= link_to t(".gist"), gist_test_passage_path(@test_passage), method: :post %>
      </p>

      <p>
        <%= form.submit t(".next"), class: "btn btn-dark btn-sm" %>
      </p>
    <% end %>
  </div>
</div>
