<h1>Прохождение теста: <%= @test_passage.test.title %> </h1>

<p>
  <small>
  Вопрос: <%= @test_passage.current_question.id %> из
          <%= @test_passage.test.questions.count %>
</small>
</p>

<strong>
  <%= @test_passage.current_question.text %>
</strong>

<%= form_with url: test_passage_path(@test_passage),
                   method: :put,
                   local: true  do |form| %>

  <%= form.collection_check_boxes :answer_ids,
                                  @test_passage.current_question.answers,
                                  :id, :text, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p>
    <%= form.submit "Далее" %>
  </p>
<% end %>
