<%= form_with model: [@question, @answer], local: true do |form| %>
  <%= render "shared/errors", resource: @answer %>

  <table>
    <tr>
      <td><%= form.label :text, "Текст" %></td>
    </tr>
    <tr>
      <td><%= form.text_area :text, id: :answer_text, rows: 7, cols: 60 %></td>
    </tr>

    <tr>
      <td><%= form.label :correct, "Правильный?" %></td>
    </tr>
    <tr>
      <td><%= form.check_box :correct, id: :answer_correct %></td>
    </tr>

    <tr>
      <td><%= form.submit "Сохранить" %></td>
    </tr>
  </table>
  <%= link_to "Отмена", question_path(@answer.question) %>
<% end %>
