<div class="row justify-content-center mt-4">
  <% unless user_signed_in? %>
    <h1><%= t(".welcome") %></h1>
  <% else %>
    <% if @tests.present? %>
      <table class="table">
        <tr>
          <th class="col-sm-3 sort-by-title pointer">
            <%= t(".title") %>
            <%= octicon "triangle-up", class: "hide" %>
            <%= octicon "triangle-down", class: "hide" %>
          </th>
          <th class="col-sm-3"><%= t(".level") %></th>
          <th class="col-sm-3"><%= t(".questions") %></th>
          <th class="col-sm-3" colspan="4"><%= t(".actions") %></th>
        </tr>

        <%= render @tests %>
      </table>
    <% else %>
      <p><%= t(".tests_not_found") %></p>
    <% end %>
  <% end %>
</div>
