<% unless user_signed_in? %>
  <h1><%= t(".welcome") %></h1>
<% else %>
  <h1><%= t(".header") %></h1>

  <% if @tests.present? %>
    <table>
      <tr>
        <th><%= t(".title") %></th>
        <th><%= t(".level") %></th>
        <th><%= t(".questions") %></th>
        <th colspan="4"><%= t(".actions") %></th>
      </tr>

      <%= render @tests %>
    </table>
  <% else %>
    <p><%= t(".tests_not_found") %></p>
  <% end %>
<% end %>
