<p>
  <strong><%= t(".header") %></strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t(".level") %></strong>
  <%= @test.level %>
</p>

<p>
  <strong><%= t(".questions") %></strong>
</p>

<% if @test.questions.count.nonzero? %>
  <% @test.questions.each do |question| %>
    <p><%= question.text %></p>
  <% end %>
<% else %>
  <p><%= t(".questions_not_found") %></p>
<% end %>

<%= link_to t("links.back"), tests_path %>
